spring:
  thymeleaf:
    prefix: classpath:/static/
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 30000
  sql:
    init:
      mode: always
      continue-on-error: false
      platform: mysql
  jpa:
    hibernate:
      ddl-auto: none
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
          starttls:
            enable: true
            required: true
        debug: false

# Admin password
admin:
  password: ${ADMIN_PASSWORD:cherry}
